asgiref==3.7.2
distlib==0.3.7
dj-database-url==2.1.0
Django==4.2.7
filelock==3.13.1
gunicorn==21.2.0
packaging==24.0
platformdirs==3.11.0
psycopg==3.1.18
psycopg2==2.9.9
psycopg2-binary==2.9.9
sqlparse==0.4.4
typing_extensions==4.10.0
tzdata==2023.3
virtualenv==20.24.7
whitenoise==6.6.0
