{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .back{
    width: 100px;
    height: 40px;
    margin-left: 25px;
    border-radius: 10px;
    background-color: aliceblue;
    position:fixed
       }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
    <div class="row">
        <div class="col-12">
       <a href="{% url 'jobseeker:home' %}"><button class="back">back</button></a>
          <br><br><br>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <h1>CAREER BUILDER</h1>
            <h2>We are here....!</h2>
            <br>
            <p>CAREER BUILDER helps you to stay ahead in your job search and explore the latest jobs in India. You can search jobs on the go and easily connect with 5 Lakh+ recruiters hiring actively on Career builder <br>

                The best job search app not only helps you in finding the right job but also makes you shine in your career with the latest industry & job insights.Career builder online job search app is one of the most loved job vacancy apps for those who want to work in India. It offers a customized job search experience across all industries, functions, locations, and experience levels. <br>
                
                Every month, lakhs of job seekers use this job search app to find the latest job vacancies and move ahead in their careers. Career builder is the best job search app that caters to all your needs without downloading any separate jobs alert app, local job search app, part-time jobs app, or work from home jobs app. <br>
                
                Benefits of using Career builder Job Search App:
                
                • Ease of job application tracking – View your profile performance, search appearances, and recruiter actions anytime. <br>
                • Enhanced visibility with recruiters. <br>
                • Convenient job search – Get quicker access to the latest jobs updated every second from the largest pool of job vacancies in the country. You can shortlist and save jobs you want to apply to later. <br>
                • Personalized job recommendations- Get job recommendations matching your preference for industry, salary, experience, or job categories such as MNC jobs, Work from home jobs, startup jobs, freelance jobs, remote jobs, fresher jobs, International jobs, jobs for interns, telecalling jobs, walk-in jobs, and jobs for freelancers. <br>
                • Hiring trends & insights: Get detailed job insights such as trending skills, top-paying skills, trending online courses, company ratings, and career advice on 'Career builder' Pulse to make a smarter career move. <br>
                <br>
                <br>
                Think of your dream employers and they are hiring on Naukri.com. You can easily find top companies under different categories such as MNC jobs, Startup jobs, fresher jobs, IT jobs, etc.
                <br>
                Career builder app is indeed, one of the best job search apps for all your needs. Whether you are looking for part-time jobs app, work from home jobs app, or local job search app, Career builder app is the one-stop job vacancy app for you.
                <br>
                Naukri.com job vacancy app helps job seekers find the latest job openings across all functional areas such as IT Jobs, Finance Jobs, SEO Jobs, Digital Marketing Jobs, Sales Jobs, Telecalling Jobs, HR Jobs, CA Jobs, and Marketing Jobs from top employers.
                <br>
                No need to download separate job apps for work from app job apps, part time jobs app, or local job search app as Career builder job app is the best job search app.
                <br>
                <br>
                Reach out to us at <a href="">@dv.com</a> for any feedback.
                <br>
                Updated on
                </p>
        </div>
      </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>