{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/cview.css' %}">
<style>
    th{
    padding: 20px;
}
/* button{
    background-color: blue;
} */
a{
    color: white;
    text-decoration: none;
}
</style>
</head>
<body>
    <h1>Hiring datas</h1>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
    <table border="2px">
        <th>Job type</th>
        <th>Qualification</th>
        <th>Experience</th>
        <th>Places</th>
        <th>skills</th>
        <th>update</th>
        {% for h in hiring %}
        <tr>
            <td>{{h.job}}</td>
            <td>{{h.quali}}</td>
            <td>{{h.exp}}</td>
            <td>{{h.places}}</td>
            <td>{{h.skills}}</td>
            <td><button style="background-color: blue;"><a href="{% url 'companys:update' h.id %}">update</a></button></td>
            <td><button style="background-color: brown;"><a href="{% url 'companys:deletecomp' h.id %}">Delete</a></button></td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
<div class="col-3"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>