{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/hiring.css' %}">
<style>
a{
  text-decoration: none;
  color: black;
}
img{
  width: 120px;
  height: 120px;
  border-radius: 360px;
}
</style>

</head>
<body>
  <div class="container-fluid">
    <form action="" id="hiring" onsubmit="return validateform1()" method="post">{% csrf_token %}
      <div class="row">
        <div class="navbar navbar-light" style="background-color: #e3f2fd; height: 150px;">
          <div class="col-4">
            <img src="{% static 'images/dv.jpg' %}" alt="">
            <button type="button" class="btn btn-success" style="margin-top: 40px;"><a class="text-white" href="{% url 'companys:applied' %}">Applications</a></button>

          </div>
        <div>
          <button type="button" class="btn btn-success"><a class="text-white" href="{% url 'companys:cview' %}">Update</a></button>
        </div>
        <div class="col-4" style="padding-right: 105px; border-color: black;"><button type="button" class="btn btn-success"><a class="text-white" href="{% url 'jobseeker:about' %}" >Help</a></button>
        </div>
        <div class="col-2" style="padding-right: 75px;"><button type="button" class="btn btn-success"><a class="text-white" href="{% url 'companys:clogout' %}"  >Log out</a></button></div>
      </div>
    </div>
      <br><br>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
            <h1>Add the current job opportunitys</h1>
            <br><br><br>
            <table>
                <tr>
                    <td><input type="text" name="job" id="job" placeholder="Job title" maxlength="200" size="80"></td>
                  </tr>
                  <tr></tr>
                  <tr>
                    <td><input type="text" name="quali" id="quali" placeholder="Qualification" maxlength="200" size="80"></td>
                  </tr>
                  <tr></tr>
                  <tr>
                    <td><input type="text" name="exp" id="exp" placeholder="Experience" maxlength="200" size="80"></td>
                  </tr>
                  <tr>
                    <td><input type="text" name="places" id="places" placeholder="alloted places" maxlength="200" size="80"></td>
                  </tr>
                  <tr>
                    <td><input type="text" name="skills" id="skills" placeholder="required skills" maxlength="200" size="80"></td>
                  </tr>
            </table>
            <br><br>
            <button type="submit" class="btn btn-primary">Add</button>
            <p id="error1" style="color: red;"></p>
        </div>
        <div class="col-3"></div>
        </div>
    </form>
  </div>
  <script src="{% static 'js/hiring.js' %}"></script>
  <script>
    function validateform1(){
    var job=document.getElementById('job').value
    var quali=document.getElementById('quali').value
    var exp=document.getElementById('exp').value 
    var places=document.getElementById('places').value
    var skills=document.getElementById('skills').value
    if(job==""||quali==""||exp==""||skills==""||places==""){
        document.getElementById('error1').innerHTML="All fields must be filled out"
        return false
       }
    else
    {
        return true
    }  
}
  </script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>    
</body>
</html>